name: Lint and Check

on:
  pull_request:
    branches: [main]

jobs:
  lint-and-check:
    name: Run Biome Lint and Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"

      - name: Enable Corepack
        run: corepack enable

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run Biome Lint & Formatter
        run: pnpm lint src/ tina/

